table{
    table-layout: fixed;
}

.table tbody tr td{
    padding: 8px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.panel .table > thead > tr > th:last-child,
.panel .table > thead > tr > th:first-child,
.panel .table > tbody > tr > td:last-child,
.panel .table > tbody > tr > td:first-child
{
    padding-left: 8px;
}

.th-ExpID{
    width: 15%;
}
.th-UserName{
    width: 7%;
}
.th-Time{
    width: 7%;
}
.th-Content{
    width: 30%;
}
.th-edit{
    width: 6%;
}