html,body{
    height: 100%;
    background-color: #F3F5F8;
}
h1,h3,h4{
    text-align: center;
}
.page-header{
    font-size: 18px;
    margin: 0;
    padding: 5px;
}
.panel-body{
    font-size: 14px;
}
#exp-content{
    margin-bottom: 20px;
}
#exp-comment .panel{
    background-color: #e6e8eb;
    border: none;
}