body{
    background-color: #F3F5F8;
}
.col-lg-2{
    padding: 3px 0;

}
.col-lg-2 label{
    font-size: 20px;
    color: rgb(5,166,179);
}
.btn-lg{
    padding: 5px 8px;
    border: 2px solid rgb(5,166,179);
    border-radius: 0;
}
.btn-info{
    background-color: white;
    color: rgb(5,166,179);
}
.btn-info:hover{
    background-color: rgb(5,166,179);
    color: white;
}
span a{
    color: black;
}
#div-zhuce{
    text-align: center;
    margin-top: 10px;
}
.panel{
    margin-top: 100px;
    margin-bottom: 100px;
}