html,body{
    height: 100%;
    background-color: #F3F5F8;
}
#wrapper .nav > li > a{
    font-size: 20px;
    color: #4d4d4d;
    padding: 10px 10px;
    border-left: none;
    background-color: #F3F5F8;
}
#wrapper .nav > li > a:hover,
#wrapper .nav > li > a:focus{
    font-size: 22px;
    color: #2b2b2b;
}
.nav-pills > li > a{
    border-radius: 0;
}
.nav-pills > li > label{
    color: #EF6286;
    font-size: 26px;
    padding: 2px 30px;
}
.nav > li > a:hover, .nav > li > a:focus{
    border: none;
    color: #EF6286;
}
#myTabContent{
    margin-top: 10px;
}
#wrapper{
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 50px;
}
img{
    background-color: transparent;
    width: 100%;
    height: auto;
}
.panel h4{
    text-align: center;
    color: rgb(5,166,179);
}
.page-header{
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 24px;
}
.breadcrumb{
    margin: 0;
    border-radius: 0;
    background-color: #F3F5F8;
    color: #EF6286;
}
.panel{
    background-color: #F3F5F8;
    padding: 0px;
}
