html,body{
    height: 100%;
    background-color: #F3F5F8;
}
#wrapper .nav > li > a{
    background-color: #cccccc;
    color: #292929;
    padding: 12px 28px;
    border-left: none;
    font-size: 16px;
}
.nav-pills > li > a{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#wrapper .nav > li > a:hover,
#wrapper .nav > li > a:focus,
#wrapper .nav > li > a:visited{
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    background-color: #e1184a;
}
h1{
    font-size: 48px;
    margin-bottom: 20px;
    color: #212121;
    font-weight: 400;
}
.th-Year{
    width: 20%;
}
.th-Score{
    width: 20%;
}
.th-EnrollRate{
    width: 20%;
}
.panel .panel-heading button i {
    font-size: 14px;
}
.lnr {
    font-family: 'Linearicons-Free';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.panel .panel-heading {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
.panel .right {
    position: absolute;
    right: 20px;
    top: 32%;
}
.panel .panel-heading button {
    padding: 0;
    margin-left: 5px;
    background-color: transparent;
    border: none;
    outline: none;
}
.break-line{
    margin-top: 0;
    border-bottom: 4px solid #e1184a;
}
#bkjy a{
    font-size: 16px;
    color: #373737;
}
#wrapper .col-lg-6{
    text-align: left;
}
dt{
    font-size: 20px;
    color: rgb(24, 24, 24);
}
dd{
    font-size: 20px;
    color: #222222;
}