<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>jingyan</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" th:href="@{../../assets/css/bootstrap.css}">
    <!-- MAIN CSS -->
    <link rel='stylesheet' th:href="@{../../assets/css/style.css}">
    <!--CSS BY LTY-->
    <link rel="stylesheet" th:href="@{../../assets/css/index-jingyan.css}">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!--JAVASCRIPT BY SELF-->
    <script th:src="@{../../assets/js/jquery.min.js}"></script>
    <script th:src="@{../../assets/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{../../assets/js/move-top.js}"></script>
    <script type="text/javascript" th:src="@{../../assets/js/easing.js}"></script>
</head>

<body>
<!--start-header-->
<div class="header" id="home">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img th:src="@{../../assets/img/logo.png}" alt="not found" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{'/show'}" class="hvr-bounce-to-top">主页<span class="sr-only">(current)</span></a></li>
                    <li><a th:href="@{'/show/yuanxiao/' + ${'北京'}}" class="hvr-bounce-to-top">院校资讯</a></li>
                    <li><a th:href="@{'/show/ziliao'}" class="hvr-bounce-to-top">资料分享</a></li>
                    <li><a th:href="@{'/show/jingyan'}" class="hvr-bounce-to-top">经验交流</a></li>
                    <li><a th:href="@{'/show/denglu'}" class="hvr-bounce-to-top">登陆</a></li>
                </ul>
                <div class="clearfix"></div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<!--end-header-->
<div id="wrapper" class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills">
                <li><label>分类</label></li>
                <li class=""><a th:href="@{'/show/jingyan/' + ${'备考经验'}}">备考经验</a></li>
                <li><a th:href="@{'/show/jingyan/' + ${'复试经验'}}">复试经验</a></li>
                <li><a th:href="@{'/show/jingyan/' + ${'心理调节'}}">心理调节</a></li>
                <li><a th:href="@{'/show/jingyan/' + ${'院校经验'}}">院校经验</a></li>
            </ul>
        </div>
    </div>
</div>
<!--start-jingyan-panel-->
<div id="jingyan-panel" class="container">
    <div class="row" >
        <div class="col-lg-12">
            <ul class="list-unstyled">
                <li th:each="expData : ${allExp}"><a th:text="${expData.getTitle()}" th:href="${expData.getTitle()}"></a></li>
            </ul>
        </div>
    </div>
</div>
<!--end-jingyan-panel-->
</body>

</html>