<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ziliao</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
    <!-- MAIN CSS -->
    <link rel='stylesheet' th:href="@{/assets/css/style.css}">
    <!--CSS BY LTY-->
    <link rel="stylesheet" th:href="@{/assets/css/index-ziliao.css}">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!--JAVASCRIPT BY SELF-->
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/move-top.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/easing.js}"></script>
</head>

<body>
<!--start-header-->
<div class="header" id="home">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img th:src="@{/assets/img/logo.png}" alt="not found" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{'/show'}" class="hvr-bounce-to-top">主页<span class="sr-only">(current)</span></a></li>
                    <li><a th:href="@{'/show/yuanxiao/' + ${'北京'}}" class="hvr-bounce-to-top">院校资讯</a></li>
                    <li><a th:href="@{'/show/ziliao/' + ${'政治'} + '/' + ${'考研真题'}}" class="hvr-bounce-to-top">资料分享</a></li>
                    <li><a th:href="@{'/show/jingyan/' + ${'备考经验'}}" class="hvr-bounce-to-top">经验交流</a></li>
                    <li><a th:href="@{'/show/denglu'}" class="hvr-bounce-to-top">登陆</a></li>
                </ul>
                <div class="clearfix"></div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<!--end-header-->
<!-- WRAPPER -->
<div id="wrapper">
    <ul id="myTab" class="nav nav-pills">
        <li><label>科目</label></li>
        <li class=""><a class="" href="#zhengzhi" data-toggle="tab">政治</a></li>
        <li><a class="" href="#shuxue" data-toggle="tab">数学</a></li>
        <li><a class="" href="#yingyu" data-toggle="tab">英语</a></li>
        <li><a class="" href="#jisuanji" data-toggle="tab">计算机</a></li>

    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade" id="zhengzhi">
            <ul class="nav nav-pills">
                <li><label>类别</label></li>
                <li class=""><a th:href="@{'/show/ziliao/' + ${'政治'} + '/' + ${'考研真题'}}">考研真题</a></li>
                <li><a th:href="@{'/show/ziliao/' + ${'政治'} + '/' + ${'学习资料'}}">学习资料</a></li>
                <li><a th:href="@{'/show/ziliao/' + ${'政治'} + '/' + ${'综合资料'}}">综合资料</a></li>
                <li><a th:href="@{'/show/ziliao/' + ${'政治'} + '/' + ${'考研讲义'}}">考研讲义</a></li>
            </ul>
        </div>
        <div class="tab-pane fade" id="shuxue">
            <ul class="nav nav-pills">
                <li><label>类别</label></li>
                <li class=""><a th:href="@{'/show/ziliao/' + ${'数学'} + '/' + ${'考研真题'}}">考研真题</a></li>
                <li><a th:href="@{'/show/ziliao/' + ${'数学'} + '/' + ${'学习资料'}}">学习资料</a></li>
                <li><a th:href="@{'/show/ziliao/' + ${'数学'} + '/' + ${'综合资料'}}">综合资料</a></li>
                <li><a th:href="@{'/show/ziliao/' + ${'数学'} + '/' + ${'考研讲义'}}">考研讲义</a></li>
            </ul>
        </div>
        <div class="tab-pane fade" id="yingyu">
            <ul class="nav nav-pills">
                <li><label>类别</label></li>
                <li class=""><a th:href="@{'/show/ziliao/' + ${'英语'} + '/' + ${'考研真题'}}">考研真题</a></li>
                <li><a th:href="@{'/show/ziliao/' + ${'英语'} + '/' + ${'学习资料'}}">学习资料</a></li>
                <li><a th:href="@{'/show/ziliao/' + ${'英语'} + '/' + ${'综合资料'}}">综合资料</a></li>
                <li><a th:href="@{'/show/ziliao/' + ${'英语'} + '/' + ${'考研讲义'}}">考研讲义</a></li>
            </ul>
        </div>
        <div class="tab-pane fade" id="jisuanji">
            <ul class="nav nav-pills">
                <li><label>类别</label></li>
                <li class=""><a th:href="@{'/show/ziliao/' + ${'计算机'} + '/' + ${'考研真题'}}">考研真题</a></li>
                <li><a th:href="@{'/show/ziliao/' + ${'计算机'} + '/' + ${'学习资料'}}">学习资料</a></li>
                <li><a th:href="@{'/show/ziliao/' + ${'计算机'} + '/' + ${'综合资料'}}">综合资料</a></li>
                <li><a th:href="@{'/show/ziliao/' + ${'计算机'} + '/' + ${'考研讲义'}}">考研讲义</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- END WRAPPER -->
<!--start-ziliao-panel-->
<div id="ziliao-panel" class="container panel">
    <div class="page-header">
        <ol class="breadcrumb" >
            <li ><span th:each="materialData,status : ${allMaterial}" th:if="${status.first == true}" th:text="${materialData.getCategory()}"></span></li>
            <li ><span th:each="materialData,status : ${allMaterial}" th:if="${status.first == true}" th:text="${materialData.getType()}"></span></li>
        </ol>
    </div>
    <div class="panel-body">
        <div class="row" >
            <div class="col-lg-6" th:each="materialData : ${allMaterial}">
                <a th:text="${materialData.getTitle()}" th:href="${materialData.getLink()}"></a>
            </div>
        </div>
    </div>
</div>
<!--end-ziliao-panel-->
<script>
    $(document).ready(function(){
        // var nowhref = document.location.href.split('/');
        // document.getElementById('panel-tag2').innerHTML = nowhref.pop();
        // document.getElementById('panel-tag1').innerHTML = nowhref.pop();
    });
</script>
</body>

</html>