<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>index</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{assets/vendor/linearicons/style.css}">
    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{assets/css/main.css}">
    <!--CSS BY LTY-->
    <link rel="stylesheet" th:href="@{assets/css/nav.css}">
    <link rel="stylesheet" th:href="@{assets/css/index.css}">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <div th:include="nav :: myNav">

    </div>
    <!-- END NAVBAR -->

    <!--MAIN CONTENT-->
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome</h1>

            <div class="jumbotron-button-contain">

                    <a class="btn btn-info btn-lg" th:href="@{'/show/yuanxiao/' + ${'湖北'}}" role="button">院校资讯</a>

                    <a class="btn btn-info btn-lg" th:href="@{'/ziliao'}" role="button">资料分享</a>

                    <a class="btn btn-info btn-lg" th:href="@{'/jingyan'}" role="button">经验交流</a>

            </div>
        </div>
    </div>
    <!--END MAIN CONTENT-->

    <footer>
        <div class="container-fluid">
            <p class="copyright">考研宝-第十组</p>
        </div>
    </footer>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<script th:src="@{assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/scripts/klorofil-common.js}"></script>

</body>

</html>