<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>school</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{assets/vendor/linearicons/style.css}">
	<!-- MAIN CSS -->
	<link rel="stylesheet" th:href="@{assets/css/main.css}">
	<!--CSS BY LTY-->
	<link rel="stylesheet" th:href="@{assets/css/school.css}">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{assets/img/apple-icon.png}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{assets/img/favicon.png}">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="school.html"><img src="assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-right">
					<div class="input-group">
						<input type="text" value="" class="form-control" placeholder="Search dashboard...">
						<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
					</div>
				</form>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a th:href="@{'/school'}" class="active"><i class="lnr lnr-graduation-hat"></i> <span>School Table#学校表</span></a></li>
						<li><a th:href="@{'/experience'}" class=""><i class="lnr lnr-bubble"></i> <span>Experience Table#经验分享表</span></a></li>
						<li><a th:href="@{'/yearlydata'}" class=""><i class="lnr lnr-chart-bars"></i> <span>YearlyData#历年数据</span></a></li>
						<li><a th:href="@{'/teacher'}" class=""><i class="lnr lnr-license"></i> <span>Teacher#名师目录</span></a></li>
						<li><a th:href="@{'/user'}" class=""><i class="lnr lnr-users"></i> <span>Front-end user list#前端用户</span></a></li>
						<li><a th:href="@{'/material'}" class=""><i class="lnr lnr-cloud-download"></i> <span>Material#复习资料</span></a></li>
						<li><a th:href="@{'/logintable'}" class=""><i class="lnr lnr-database"></i> <span>LoginTable#登陆记录表</span></a></li>
						<li><a th:href="@{'/comment'}" class=""><i class="lnr lnr-database"></i> <span>Comment#评论表</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!--MAIN CONTENT-->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title">School Table#学校表</h3>
					<div class="row">
						<div class="col-lg-12">
							<div class="panel">
								<div class="panel-body">
									<table class="table">
										<thead>
										<tr>
											<!--<th class="th-SchoolID">学校ID</th>-->
											<th class="th-SchoolName">学校名称</th>
											<th class="th-Area">地域</th>
											<th class="th-Province">省份</th>
											<th class="th-CutTime">截止时间</th>
											<th class="th-Outline">考纲</th>
											<th class="th-CatalogLink">招生简章</th>
											<th class="th-ReferrenceBook">参考书</th>
											<th class="th-Is985">985</th>
											<th class="th-Is211">211</th>
											<th class="th-edit">操作</th>
										</tr>
										</thead>
										<tbody>
										<tr th:each="schoolData : ${school}">

											<td th:text="${schoolData.getSchoolName()}"></td>
											<td th:text="${schoolData.getArea()}"></td>
											<td th:text="${schoolData.getProvince()}"></td>
											<td th:text="${schoolData.getCutTime()}"></td>
											<td th:text="${schoolData.getOutline()}"></td>
											<td th:text="${schoolData.getCatalogLink()}"></td>
											<td th:text="${schoolData.getReferrenceBook()}"></td>
											<td th:text="${schoolData.getIs985()}"></td>
											<td th:text="${schoolData.getIs211()}"></td>
											<td><a th:href="@{'/school/update/'+${schoolData.getSchoolID()}}" ><i class="lnr lnr-pencil"></i></a>
												<a th:href="@{'/school/delete/'+${schoolData.getSchoolID()}}" ><i class="lnr lnr-trash"></i></a>
											</td>
										</tr>
										</tbody>
									</table>
									<div class="plus-circle">
										<a th:href="@{'/school/add'}"><i class="lnr lnr-plus-circle"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">考研宝-第十组</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script th:src="@{assets/js/jquery.min.js}"></script>
	<script th:src="@{assets/js/bootstrap.min.js}"></script>
	<script th:src="@{assets/scripts/klorofil-common.js}"></script>

</body>

</html>