<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>school</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{assets/vendor/linearicons/style.css}">
	<!-- MAIN CSS -->
	<link rel="stylesheet" th:href="@{assets/css/main.css}">
	<!--CSS BY LTY-->
	<link rel="stylesheet" th:href="@{assets/css/school.css}">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{assets/img/apple-icon.png}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{assets/img/favicon.png}">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="school.html"><img src="assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-left">
					<div class="input-group">
						<input type="text" value="" class="form-control" placeholder="Search dashboard...">
						<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
					</div>
				</form>
				<div class="navbar-btn navbar-btn-right">
					<a class="btn btn-success update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
				</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-danger">5</span>
							</a>
							<ul class="dropdown-menu notifications">
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
								<li><a href="#" class="more">See all notifications</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#">Basic Use</a></li>
								<li><a href="#">Working With Data</a></li>
								<li><a href="#">Security</a></li>
								<li><a href="#">Troubleshooting</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png" class="img-circle" alt="Avatar"> <span>Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
								<li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
						<!-- <li>
							<a class="update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a th:href="@{'/school'}" class="active"><i class="lnr lnr-graduation-hat"></i> <span>School Table#学校表</span></a></li>
						<li><a th:href="@{'/experience'}" class=""><i class="lnr lnr-bubble"></i> <span>Experience Table#经验分享表</span></a></li>
						<li><a th:href="@{'/yearlydata'}" class=""><i class="lnr lnr-chart-bars"></i> <span>YearlyData#历年数据</span></a></li>
						<li><a th:href="@{'/teacher'}" class=""><i class="lnr lnr-license"></i> <span>Teacher#名师目录</span></a></li>
						<li><a th:href="@{'/user'}" class=""><i class="lnr lnr-users"></i> <span>Front-end user list#前端用户</span></a></li>
						<li><a th:href="@{'/material'}" class=""><i class="lnr lnr-cloud-download"></i> <span>Material#复习资料</span></a></li>
						<li><a th:href="@{'/logintable'}" class=""><i class="lnr lnr-database"></i> <span>LoginTable#登陆记录表</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!--MAIN CONTENT-->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title">School Table#学校表</h3>
					<div class="row">
						<div class="col-lg-12">
							<div class="panel">
								<div class="panel-body">
									<table class="table">
										<thead>
										<tr>
											<th class="th-SchoolID">SchoolID</th>
											<th class="th-SchoolName">SchoolName</th>
											<th class="th-Area">Area</th>
											<th class="th-Province">Province</th>
											<th class="th-CutTime">CutTime</th>
											<th class="th-Outline">Outline</th>
											<th class="th-CatalogLink">CatalogLink</th>
											<th class="th-ReferrenceBook">ReferrenceBook</th>
											<th class="th-Is985">Is985</th>
											<th class="th-Is211">Is211</th>
											<th class="th-edit">操作</th>
										</tr>
										</thead>
										<tbody>
										<tr th:each="schoolData : ${school}">
											<td th:text="${schoolData.getSchoolID()}"></td>
											<td th:text="${schoolData.getSchoolName()}"></td>
											<td th:text="${schoolData.getArea()}"></td>
											<td th:text="${schoolData.getProvince()}"></td>
											<td th:text="${schoolData.getCutTime()}"></td>
											<td th:text="${schoolData.getOutline()}"></td>
											<td th:text="${schoolData.getCatalogLink()}"></td>
											<td th:text="${schoolData.getReferrenceBook()}"></td>
											<td th:text="${schoolData.getIs985()}"></td>
											<td th:text="${schoolData.getIs211()}"></td>
											<td><a th:href="@{'/school/update/'+${schoolData.getSchoolID()}}" ><i class="lnr lnr-pencil"></i></a>
												<a th:href="@{'/school/delete/'+${schoolData.getSchoolID()}}" ><i class="lnr lnr-trash"></i></a>
											</td>
										</tr>
										</tbody>
									</table>
									<div class="plus-circle">
										<a th:href="@{'/school/add'}"><i class="lnr lnr-plus-circle"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">考研宝-第十组</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script th:src="@{assets/js/jquery.min.js}"></script>
	<script th:src="@{assets/js/bootstrap.min.js}"></script>
	<script th:src="@{assets/scripts/klorofil-common.js}"></script>

</body>

</html>